<a href="https://colab.research.google.com/github/Kroomer/Master_thesis/blob/main/Master_thesis_4_Evalution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Connect to drive**

Click link and enter authorization code

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
!ls "/content/drive/My Drive/Colab Notebooks/Results"

FocalLoss_MLP_accuracy_plot.png  results_RFC_RUS.csv
FocalLoss_MLP_CM_plot.png	 RUS_MLP_accuracy_plot.png
FocalLoss_MLP_loss_plot.png	 RUS_MLP_CM_plot.png
FocalLoss_MLP_ROC_AUC_plot.png	 RUS_MLP_loss_plot.png
Imbalanced_data_plot.png	 RUS_MLP_ROC_AUC_plot.png
MLP_plot.png			 SMOTE_MLP_accuracy_plot.png
results_MLP_FocalLoss.csv	 SMOTE_MLP_CM_plot.png
results_MLP_RUS.csv		 SMOTE_MLP_loss_plot.png
results_MLP_SMOTE.csv		 SMOTE_MLP_ROC_AUC_plot.png

# **Import libraries**

In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import statistics
import os
import tempfile

# **Import results from Drive**

Import as .csv files

In [ ]:
os.getcwd()

'/content'

In [ ]:
df_RFC_rus = pd.read_csv("drive/My Drive/Colab Notebooks/Results/results_RFC_RUS.csv", sep=',')
df_MLP_rus = pd.read_csv("drive/My Drive/Colab Notebooks/Results/results_MLP_RUS.csv", sep=',')
df_MLP_smote = pd.read_csv("drive/My Drive/Colab Notebooks/Results/results_MLP_SMOTE.csv", sep=',')
df_MLP_FL = pd.read_csv("drive/My Drive/Colab Notebooks/Results/results_MLP_FocalLoss.csv", sep=',')

In [ ]:
df_RFC_rus.head()

   accuracy_RFC    F1_RFC  specificity_RFC  ROC_AUC_RFC
0      0.606715  0.719987         0.616982     0.610843
1      0.612645  0.725630         0.612879     0.612739
2      0.608381  0.721545         0.616335     0.611579
3      0.609647  0.722764         0.615267     0.611906
4      0.611070  0.723938         0.617072     0.613483

In [ ]:
df_MLP_rus.head()

   accuracy_MLP    F1_MLP  specificity_MLP  ROC_AUC_MLP
0      0.613389  0.751519         0.589553     0.647276
1      0.609829  0.746799         0.584163     0.641428
2      0.639139  0.725673         0.488177     0.615490
3      0.609961  0.748685         0.586837     0.643801
4      0.711192  0.720990         0.358005     0.610332

In [ ]:
df_MLP_smote.head()

   accuracy_MLP    F1_MLP  specificity_MLP  ROC_AUC_MLP
0      0.647764  0.740433         0.511142     0.633808
1      0.647329  0.742325         0.514438     0.635794
2      0.640349  0.740848         0.522468     0.634047
3      0.662028  0.741690         0.490523     0.635250
4      0.649567  0.739299         0.505134     0.632413

In [ ]:
df_MLP_FL.head()

   accuracy_MLP    F1_MLP  specificity_MLP  ROC_AUC_MLP
0      0.792810  0.762145         0.245888     0.660078
1      0.792358  0.763345         0.250925     0.661522
2      0.800182  0.762433         0.224757     0.660421
3      0.791534  0.762082         0.252405     0.660153
4      0.798755  0.763513         0.232083     0.661785

# **Create functions to ouput evaluation criteria**  
Used to present in thesis

# **Accuracy**

In [ ]:
def accuracy(input):
  mean = statistics.mean(input.iloc[:,0])
  min = np.min(input.iloc[:,0])
  max = np.max(input.iloc[:,0])
  median = statistics.median(input.iloc[:,0])
  std = statistics.stdev(input.iloc[:,0])
  #print(input.iloc[:,0], '\n')
  print('mean\t', round(mean,3))
  print('median\t', round(median,3))
  print('min\t', round(min,3))
  print('max\t', round(max,3))
  print('std\t', round(std,3))

In [ ]:
accuracy(df_RFC_rus)

mean	 0.61
median	 0.61
min	 0.607
max	 0.613
std	 0.002

In [ ]:
accuracy(df_MLP_rus)

mean	 0.653
median	 0.619
min	 0.606
max	 0.817
std	 0.065

In [ ]:
accuracy(df_MLP_smote)

mean	 0.651
median	 0.648
min	 0.64
max	 0.667
std	 0.008

In [ ]:
accuracy(df_MLP_FL)

mean	 0.797
median	 0.797
min	 0.792
max	 0.804
std	 0.003

# **AUC**

In [ ]:
def AUC(input):
  mean = statistics.mean(input.iloc[:,3])
  min = np.min(input.iloc[:,3])
  max = np.max(input.iloc[:,3])
  median = statistics.median(input.iloc[:,3])
  std = statistics.stdev(input.iloc[:,3])
  #print(input.iloc[:,3], '\n')
  print('mean\t', round(mean,3))
  print('median\t', round(median,3))
  print('min\t', round(min,3))
  print('max\t', round(max,3))
  print('std\t', round(std,3))

In [ ]:
AUC(df_RFC_rus)

mean	 0.612
median	 0.612
min	 0.611
max	 0.613
std	 0.001

In [ ]:
AUC(df_MLP_rus)

mean	 0.629
median	 0.641
min	 0.584
max	 0.658
std	 0.024

In [ ]:
AUC(df_MLP_smote)

mean	 0.634
median	 0.634
min	 0.632
max	 0.637
std	 0.001

In [ ]:
AUC(df_MLP_FL)

mean	 0.661
median	 0.661
min	 0.659
max	 0.662
std	 0.001

# **F1**

In [ ]:
def F1(input):
  mean = statistics.mean(input.iloc[:,1])
  min = np.min(input.iloc[:,1])
  max = np.max(input.iloc[:,1])
  median = statistics.median(input.iloc[:,1])
  std = statistics.stdev(input.iloc[:,1])
  #print(input.iloc[:,1], '\n')
  print('mean\t', round(mean,3))
  print('median\t', round(median,3))
  print('min\t', round(min,3))
  print('max\t', round(max,3))
  print('std\t', round(std,3))

In [ ]:
F1(df_RFC_rus)

mean	 0.723
median	 0.723
min	 0.72
max	 0.726
std	 0.002

In [ ]:
F1(df_MLP_rus)

mean	 0.736
median	 0.747
min	 0.7
max	 0.76
std	 0.019

In [ ]:
F1(df_MLP_smote)

mean	 0.741
median	 0.741
min	 0.739
max	 0.743
std	 0.001

In [ ]:
F1(df_MLP_FL)

mean	 0.763
median	 0.763
min	 0.762
max	 0.764
std	 0.001

# **Specificity**

In [ ]:
def specificity(input):
  mean = statistics.mean(input.iloc[:,2])
  min = np.min(input.iloc[:,2])
  max = np.max(input.iloc[:,2])
  median = statistics.median(input.iloc[:,2])
  std = statistics.stdev(input.iloc[:,2])
  #print(input.iloc[:,2], '\n')
  print('mean\t', round(mean,3))
  print('median\t', round(median,3))
  print('min\t', round(min,3))
  print('max\t', round(max,3))
  print('std\t', round(std,3))

In [ ]:
specificity(df_RFC_rus)

mean	 0.615
median	 0.616
min	 0.611
max	 0.618
std	 0.002

In [ ]:
specificity(df_MLP_rus)

mean	 0.484
median	 0.58
min	 0.082
max	 0.614
std	 0.159

In [ ]:
specificity(df_MLP_smote)

mean	 0.506
median	 0.511
min	 0.483
max	 0.522
std	 0.012

In [ ]:
specificity(df_MLP_FL)

mean	 0.237
median	 0.233
min	 0.215
max	 0.252
std	 0.011